.square {
    width: 100%;
    padding-bottom: 100%; /* This ensures a square shape */
    position: relative;
}

.square > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.my-header {
    text-decoration: underline;
}

.border-5 {
    border-width: 5px !important;
}

div.purple-border {
    border-color: purple !important;
}

.yellow-dashed-border {
    border-style: dashed;
    border-color: yellow;
}


.custom-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
