.square {
    width: 100%;
    padding-bottom: 100%; /* This ensures a square shape */
    position: relative;
}

.square > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.my-header {
    text-decoration: underline;
}

.border-5 {
    border-width: 5px;
}

div.purple-border {
    border-color: #ff70ff;
}

.yellow-dashed-border {
    border-style: dashed;
    border-color: #ffff0a;
}

.custom-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.custom-red {
    background-color: #ff0000;
}

.custom-blue {
    background-color: #0000ff;
}

.custom-green {
    background-color: #00ff00;
}

.text-success {
    color: #00ff00;
}

.text-danger {
    color: #ff0303;
}

.btn-custom {
    background-color: #cccccc;
    color: #000000;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    background-color: #cccccc;
    color: #3e3e3e;
    border-color: #3e3e3e;
    box-shadow: none;
}


.box1 {
    border-color: #000000;  /* Default border color for box1 */
    border-style: solid;
}

.box3 {
    border-color: #ff70ff;  /* Default border color for box3 */
    border-style: solid;
}
